@font-face {
    font-family: Poppins-Regular;
    src: url('../fonts/poppins/Poppins-Regular.ttf'); 
  }
  
  @font-face {
    font-family: Poppins-Medium;
    src: url('../fonts/poppins/Poppins-Medium.ttf'); 
  }
  
  @font-face {
    font-family: Poppins-Bold;
    src: url('../fonts/poppins/Poppins-Bold.ttf'); 
  }
  
  @font-face {
    font-family: Poppins-SemiBold;
    src: url('../fonts/poppins/Poppins-SemiBold.ttf'); 
  }
  
  @font-face {
    font-family: Montserrat-Bold;
    src: url('../fonts/montserrat/Montserrat-Bold.ttf'); 
  }


*{
    padding:0;
    margin:0;
    font-family: Poppins-Regular, sans-serif;
}
/* Monitor PC */
@media screen and (min-width:1200px){
    body{
        background-color: #f2f2f2;
    }
    #main{
        width:75vw;
        height:90vh;
        min-height: 700px;
        background-color:white;
        margin: 30px auto;
    }
    #logo{
        width:45%;
        background-image: url("../images/fondoD.jpg");
        background-repeat: no-repeat;
        background-color: white;
        background-size: 100% 100%;
        background-position: center;
        height: 100%;
        float:left;
    }
    #contenido{
        float:left;
        padding-top:60px;
        width:55%;
        height:74%;
        /*background-color: green;*/
    }
    img{
        display: block;
        width: 100px;
        margin: 10px auto;
        padding: 10px;
    }
    h1{
        text-align: center;
        font-size: 25px;
        /*background-color: purple;*/
        text-transform: uppercase;
        color: #555555;
        font-weight: 500;
    }
    input{
        display:block;
        width: 77%;
        height:40px;
        padding: 10px;
        padding-left: 30px;
        margin: 10px auto 10px auto;
        outline:none;
        border-color: rgb(197, 197, 197);
        border-width: 1px;
        border-style: solid;
        font-size: 17px;
        color: #666666;
        transition: 0.1s;
    }
    #user_pass{
        /*background-color: blue;*/
        width:70%;
        margin: 10px auto;
        padding-left:4%;
    }
    #nombres,#apellidos,#correo,#dni,#fnacimiento,#sexo,#direccion,#usuario,#password,#imagen{
        display:inline-block;
        width: 37%;
        height:40px;
        padding: 10px 20px;
        margin-left: -4px;
        outline:none;
        border-color: rgb(197, 197, 197);
        border-width: 1px;
        border-style: solid;
        font-size: 17px;
        color: #666666;
        transition: 0.1s;
    }

    :not(#ingresar):focus{
        border: solid 1px #028fcc;
        transition: 0.1s;
    }
    #ingresar{
        color:white;
        background-color: #028fcc;
        border-style:none;
        transition: 0.4s;
        text-transform: uppercase;
        font-size: 15px;
        border-radius: 5px;
        width: 67%;
    }
    #ingresar:hover{
        background-color: #212529;
        transition: 0.4s;
    }
    #registro{
        text-decoration: none;
        color: #028fcc;
    }
    #footer_div{
        color: #666666;
        /*background-color: orange;*/
        text-align: center;
        height: 40px;
    }
    #footer_div span{
        display:inline-block;
        padding-top:10px;
    }
}
/* Tablet */
@media screen and (min-width:768px) and (max-width:1199px){
    body{
        background-color: #f2f2f2;
    }
    #main{
        width:90vw;
        height:90vh;
        min-height: 700px;
        background-color:white;
        margin: 30px auto;
    }
    #logo{
        width:45%;
        background-image: url("../images/fondoD.jpg");
        background-repeat: no-repeat;
        background-color: white;
        background-size: 100% 100%;
        background-position: center;
        height: 100%;
        float:left;
    }
    #contenido{
        float:left;
        width:55%;
        height:74%;
        padding-top: 5%;
        
        /*background-color: green;*/
    }
    @media screen and (min-height:400px) and (max-height:700px){
        #contenido{
            float:left;
            width:55%;
            height:74%;
            padding-top: 0;
            
            /*background-color: green;*/
        }
    }
    img{
        display: block;
        width: 100px;
        margin: 10px auto;
        padding: 10px;
    }
    h1{
        text-align: center;
        font-size: 25px;
        /*background-color: purple;*/
        text-transform: uppercase;
        color: #555555;
        font-weight: 500;
    }
    input{
        display:block;
        width: 60%;
        height:30px;
        padding: 10px;
        padding-left: 30px;
        margin: 2px auto 2px auto;
        outline:none;
        border-color: rgb(197, 197, 197);
        border-width: 1px;
        border-style: solid;
        font-size: 17px;
        color: #666666;
        transition: 0.1s;
    }
    :not(#ingresar):focus{
        border: solid 1px #028fcc;
        transition: 0.1s;
    }
    #ingresar{
        color:white;
        background-color: #028fcc;
        border-style:none;
        transition: 0.4s;
        text-transform: uppercase;
        font-size: 15px;
        border-radius: 5px;
        width: 72%;
        height: 40px;
    }
    #ingresar:hover{
        background-color: #212529;
        transition: 0.4s;
    }
    #registro{
        text-decoration: none;
        color: #028fcc;
    }
    #footer_div{
        color: #666666;
        /*background-color: orange;*/
        text-align: center;
        height: 40px;
    }
    #footer_div span{
        display:inline-block;
        padding-top:10px;
    }
}

/* moviles */
@media screen and (max-width:767px){
    body{
        background-color: #f2f2f2;
    }
    #main{
        width:90vw;
        height:90vh;
        min-height: 950px;
        background-color:white;
        margin: 30px auto;
    }
    #logo{
        width:100%;
        height: 60px;
        margin-bottom: -50px;
    }
    #contenido{
        padding-top: 100px;
        padding-bottom: 100px;
        /*background-color: green;*/
    }
    img{
        display: block;
        width: 90px;
        margin: 10px auto;
        padding: 10px;
    }
    h1{
        text-align: center;
        font-size: 25px;
        /*background-color: purple; */
        text-transform: uppercase;
        color: #555555;
        font-weight: 500;
    }
    input{
        display:block;
        width: 77%;
        height:20px;
        padding: 10px;
        padding-left: 30px;
        margin: 20px auto 20px auto;
        outline:none;
        border-color: rgb(197, 197, 197);
        border-width: 1px;
        border-style: solid;
        font-size: 17px;
        color: #666666;
        transition: 0.1s;
    }
    
    :not(#ingresar):focus{
        border: solid 1px #028fcc;
        transition: 0.1s;
    }
    #ingresar{
        color:white;
        background-color: #028fcc;
        border-style:none;
        transition: 0.4s;
        text-transform: uppercase;
        font-size: 15px;
        border-radius: 5px;
        width: 85%;
        height:40px;
    }
    #ingresar:hover{
        background-color: #212529;
        transition: 0.4s;
    }
    #registro{
        text-decoration: none;
        color: #028fcc;
    }
    #footer_div{
        color: #666666;
        /*background-color: orange;*/
        text-align: center;
        height: 40px;
    }
    #footer_div span{
        display:inline-block;
        padding-top:10px;
    }
}