{% extends 'registerUser.html' %}
{%block titulo %}Editar Usuario{% endblock titulo%}

{%block nombres%}{{usuario.nombres}}{%endblock nombres%}
{%block apellidos%}{{usuario.apellidos}}{%endblock apellidos%}
{%block correo%}{{usuario.correo}}{%endblock correo%}
{%block dni%}{{usuario.dni}}{%endblock dni%}
{%block usuario%}{{usuario.usuario}}{%endblock usuario%}
{%block password%}{{usuario.password}}{%endblock password%}
{%block fnacimiento%}{{usuario.fnacimiento%}{%endblock fnacimiento%}
{%block sexo%}{{usuario.sexo}}{%endblock sexo%}
{%block direccion%}{{usuario.direccion}}{%endblock direccion%}

{%block editar %}Validar Cambios{%endblock editar%}