{%load static%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="Travello template project">
    <link rel="stylesheet" type="text/css" href="{% static 'styles/menu.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'styles/main.css' %}">
    <link rel="icon" type="image/png" href="{% static 'images/favicon.ico'%}">
    <title>Documex</title>
</head>
<body>
    <!--Header-->
    {% include 'menu.html' %}
    {% block menu%}
    {% endblock %}
    <!--Noticias-->
</body>
</html>