{%load static%}
<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-type" content="text/html; charset=utf-8">
        <link rel="icon" type="image/png" href="{% static 'images/favicon.ico'%}">
        <title>Documex Login Administrador</title>
        <link rel="stylesheet" type="text/css" href="{% static 'styles/estiloLU.css' %}">
        <script src="jquery-3.1.1.min.js"></script>
        <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximun-scale=1.0, minimun-scale=1.0">
        <link rel="icon" type="image/png" href="#">
        
    </head>
    <body>
        <div id="main">        
            <div id="logo">
                <a href="/"><img src="{% static 'images/documex.png' %}"></a>
            </div>
            <div id="contenido">
                <diV id="form">
                    <h1>Ingreso de Administradores</h1>
                    <form action="login" method="post" id="form1">
                        {% csrf_token %}
                        <div id="user_pass">
                        <input type="text" name="usuario" id="usuario" maxlength="100" placeholder="Nombre de usuario">
                        <input type="password" name="password" id="password" placeholder="Contraseña">
                        </div>
                        <input type="submit" value="Ingresar" id="ingresar">
                    </form>
                    <div id="respuesta" style="text-align: center;">
                        {% for message in messages %}
                        <h3> {{message}}</h3>
                        {% endfor %}
                    </div>
                </div>
                <div id="footer_div">
                    <span>¿Eres Usuario? </span>
                    <a href="/accounts/login" id="registro">Ingresa aquí</a>
                </div>
            </div>
            
        </div>
        <script src="#" type="#"></script>
    </body>
</html>