{% load static %}   
<header>
    <div class="header__conteiner">
        <div class="header-logo">
            <a class="logo-a" href="/">
                <img src="{% static 'images/logo.png'%}" class="logo-img" alt="logo_Documex">
            </a>
        </div>
        <div class="row-menu column-menu">
            <div class="header-left">
                <nav class="navegacion">
                    <ul class="menu">
                        <li><a href="#">Inicio</a></li>
                        <li><a href="#services">Servicios</a></li>
                        <li><a href="#about-us">Nosotros</a></li>
                        <li><a href="#contact">Contáctanos</a></li>
                        <li><a href="#">Noticias</a></li>
                    </ul>
                </nav>    
            </div>
            
            <div class="header-rigth">
                <ul class="menu">
                    {% if user.is_authenticated %}
                    <li><a class="mostrar" href="#">
                        {% if user.is_superuser %}	
                        Administrador: {{user.username}}
                        {%else%}
                        Usuario: {{user.username}}
                        {% endif %}
                        </a>
                        <ul class="submenu">
                            {% if user.is_superuser %}	
                            <li><a href="admin">Admin</a></li>
                            <li><a href="#">Centro de Administración</a></li>	    
                            {% else %}
                            <li><a href="#">DocSpace</a></li>	
                            {% endif %}                        
                            <li><a href="accounts/logout">Logout</a></li>
                        </ul>
                    </li>
                    {% else %}
                    <li><a class="mostrar" href="#">Iniciar Sesión</a>
                        <ul class="submenu">                                    
                            <!--<li><a href="admin/auth/user/add/">Registrar</a></li>-->
                            <li><a href="accounts/registerUser">Registrar</a></li>
                            <li><a href="accounts/login">Login</a></li>                           
                        </ul>
                    </li>
                    {% endif %}
                </ul>
            </div>
            <div class="btn-column">
                <button type="button" class="e" data-toggle="row-menu" data-target=".column-menu">
                    <svg width="3em" height="1.5em" viewBox="0 0 16 16" class="bi bi-chevron-double-down" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" d="M1.646 6.646a.5.5 0 0 1 .708 0L8 12.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z"/>
                        <path fill-rule="evenodd" d="M1.646 2.646a.5.5 0 0 1 .708 0L8 8.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z"/>
                    </svg>
                </button>
            </div>
        </div>
    </div>
</header>
<!-- -->