{% extends 'registerUser.html' %}
{%block titulo %}Registrar Administrador{% endblock titulo%}

{%block nombres%}{%endblock nombres%}
{%block apellidos%}{%endblock apellidos%}
{%block correo%}{%endblock correo%}
{%block dni%}{%endblock dni%}
{%block usuario%}{%endblock usuario%}
{%block password%}{%endblock password%}
{%block fnacimiento%}{%endblock fnacimiento%}
{%block sexo%}{%endblock sexo%}
{%block direccion%}{%endblock direccion%}
{%block admin%}True{%endblock admin%}

{%block editar %}Validar Cambios{%endblock editar%}