{%load static%}
<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-type" content="text/html; charset=utf-8">
        <link rel="icon" type="image/png" href="{% static 'images/favicon.ico'%}">
        <title>Documex Registro Usuario</title>
        <link rel="stylesheet" type="text/css" href="{% static 'styles/estiloRU.css' %}">
        <script src="jquery-3.1.1.min.js"></script>
        <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximun-scale=1.0, minimun-scale=1.0">
        <link rel="icon" type="image/png" href="{% static 'images/favicon.ico'%}">
        
    </head>
    <body>
        <div id="main">        
            <div id="logo">
                <a href="/"><img src="{% static 'images/documex.png' %}"></a>
            </div>  
            
            <div id="contenido">
                <diV id="form">
                    <h1>{% block titulo %}Registro de Usuario{% endblock titulo%}</h1>
                    <form method="post" id="form1" enctype="multipart/form-data">
                        {% csrf_token %}
                        <div id="user_pass">
                            <input type="text" name="nombres" id="nombres" maxlength="30" placeholder="Nombres" value="{%block nombres%}{%endblock nombres%}" required>
                            <input type="text" name="apellidos" id="apellidos" maxlength="50" placeholder="Apellidos" value="{%block apellidos%}{%endblock apellidos%}" required>
                            <input type="email" name="correo" id="correo" maxlength="50" placeholder="Correo electrónico" value="{%block correo%}{%endblock correo%}" required>
                            <input type="text" name="dni" id="dni" maxlength="8" placeholder="DNI" value="{%block dni%}{%endblock dni%}" required>
                            <input type="text" name="usuario" id="usuario" maxlength="20" placeholder="Nombre de Usuario" value="{%block usuario%}{%endblock usuario%}" required>
                            <input type="password" name="password" id="password" maxlength="8" placeholder="Contraseña" value="{%block password%}{%endblock password%}" required>
                            <input type="date" name="fnacimiento" id="fnacimiento" placeholder="Fecha de nacimiento" value="{%block fnacimiento%}{%endblock fnacimiento%}" required>
                            <input type="text" name="sexo" id="sexo" maxlength="1" placeholder="Sexo (M o F)" value="{%block sexo%}{%endblock sexo%}" required>
                            <input type="text" name="direccion" id="direccion" maxlength="100" placeholder="Dirección" value="{%block direccion%}{%endblock direccion%}" required>
                            <input type="file" name="imagen" id="imagen" placeholder="Imagen">
                            <input type="checkbox" name="admin" id="admin" style="display:none;" value="{%block admin%}{%endblock admin%}">
                        </div>
                        <input type="submit" value="{% block editar %}Registrar{% endblock editar %}" id="ingresar">
                    </form>
                    <div id="respuesta" style="text-align: center;">
                        {% for message in messages %}
                        <h3> {{message}}</h3>
                        {% endfor %}
                    </div>
                </div>
                <div id="footer_div">
                            <span>¿Ya te has registrado? </span>
                            <a href="/accounts/login" id="registro">Ingresa aquí</a>
                   
                </div>
            </div>
            
        </div>
        <script src="#" type="#"></script>
    </body>
</html>